<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors - XYZ Hospital</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>

    <!-- Navigation Bar -->
    <nav>
        <div class="container nav-container">
            <div class="nav-left">
                <img src="static/hospital-logo.png" alt="MediSchedule Logo" class="nav-logo" />
                <h1 class="site-title">MediSchedule</h1>
            </div>
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="appointments">Appointments</a></li>
                <li><a href="patients">Patients</a></li>
                <li><a href="doctors">Doctors</a></li>
                <li><a href="contact">Contact Us</a></li>
            </ul>
            <div class="nav-right">
                <a href="{{ url_for('login') }}" class="nav-button">Login</a>
                <a href="{{ url_for('signup') }}" class="nav-button">Sign Up</a>
            </div>
        </div>
    </nav>
      
   
    <!-- Doctors List Section -->
    <section class="section-container">
        <div class="section-header">
            <h2>Our Specialists</h2>
            <p>Choose from a wide range of experts for your care.</p>
        </div>

        <div class="doctor-list">
            {% for doctor in doctors %}
            <div class="doctor-card">
                <img src="static/doctor-background.jpg" alt="{{ doctor.name }}">
                <h3>Dr. {{ doctor.name }}</h3>
                <p><strong>Specialization:</strong> {{ doctor.specialization }}</p>
                <p><strong>Experience:</strong> {{ doctor.experience }} years</p>
                <p><strong>Email:</strong> {{ doctor.email }}</p>
                <p><strong>Contact:</strong> {{ doctor.contact_no }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Footer Section -->
    {% include 'footer.html' %}

    <script src="static/scripts/app.js"></script>
</body>
</html>